<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>833450953424-0m68eg6cc4gpc84se090us911rno7t2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833450953424-0m68eg6cc4gpc84se090us911rno7t2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBBHeBIZ_8ZTVFQKpwXGQ8hPck_0xYF-yA</string>
	<key>GCM_SENDER_ID</key>
	<string>833450953424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysoundwise.soundwise</string>
	<key>PROJECT_ID</key>
	<string>soundwise-a8e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>soundwise-a8e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833450953424:ios:1e413710cd9551b2</string>
	<key>DATABASE_URL</key>
	<string>https://soundwise-a8e6f.firebaseio.com</string>
</dict>
</plist>